*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin/
**/build/
app/build/**

# Generated asset binaries
app/src/main/assets/diox-agent.jar
app/src/main/assets/dxls/
app/src/main/assets/scrcpy-server.jar